[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"

[packages]
flask-restful = "==0.3.7"
flask-sqlalchemy = "==2.4.1"
flask-migrate = "*"
pyjwt = "*"
flask-cors = "*"
waitress = "*"
wfastcgi = "*"

[requires]
python_version = "3.8"
